<section class="container">
	<section id="container" class="clearfix">
		<article class="element fx-slide-up home clearfix one-full about isotope-item">
		  <div class="reveal-bg-nine">
		    <center><h2 class="pad pad-top-minus pad-bottom-minus">Sign up</h2></center>
		  </div>
		</article>
		<article class="element clearfix home">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.email_field :email, :autofocus => true, :class => "minput", :placeholder => "Email"%><br>

		  <%= f.password_field :password, :class => "minput", :placeholder => "Password"%><br>

		  <%= f.password_field :password_confirmation, :class => "minput", :placeholder => "Confirm"%><br>

		  <div><%= f.submit "Sign up" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
		</article>
	</section>
</section>
