<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-02" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('pers/m0.png'), '/assets/pers/0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('pers/m1.png'), '/assets/pers/1.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('pers/m2.png'), '/assets/pers/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m3.png'), '/assets/pers/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m4.png'), '/assets/pers/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m5.png'), '/assets/pers/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m6.png'), '/assets/pers/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m7.png'), '/assets/pers/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m8.png'), '/assets/pers/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pers/m9.png'), '/assets/pers/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-02" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-02" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-one">
    <div class="thumb pad pad-bottom-minus">
      <%#= image_tag("slider.png")%>
    </div>
    <h2 class="pad pad-top-minus">
      <center>
        Characters
      </center>
    </h2>
  </div>
</article>