<article class="element fx-slide-out clearfix one-third home index index1">
  <!-- Carousel starts -->
  <div id="carousel-02" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag('pers/m0.png')%>
      </div>
      <div class="item">
        <%= image_tag('pers/m1.png')%>
      </div>
      <div class="item">
        <%= image_tag('pers/m2.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m3.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m4.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m5.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m6.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m7.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m8.png')%>
      </div>
      <div class="item">
          <%= image_tag('pers/m9.png')%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-02" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-02" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-one">

    <h2 class="pad pad-top-minus mp20">
      <center>
        Characters
      </center>
    </h2>
  </div>
</article>