<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-04" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('cloth/m0.png'), '/assets/cloth/0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('cloth/m1.png'), '/assets/cloth/1.png', {:class => "popup"})%>  
      </div>
      <div class="item">
        <%= link_to(image_tag('cloth/m2.png'), '/assets/cloth/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m3.png'), '/assets/cloth/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m4.png'), '/assets/cloth/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m5.png'), '/assets/cloth/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m6.png'), '/assets/cloth/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m7.png'), '/assets/cloth/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m8.png'), '/assets/cloth/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('cloth/m9.png'), '/assets/cloth/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-three">
    <div class="thumb pad pad-bottom-minus">
      <%#= image_tag("slider.png")%>
    </div>
    <h2 class="pad pad-top-minus">
      <center>
        Clothes
      </center>
    </h2>
  </div>
</article>