<article class="element fx-slide-out home clearfix one-third index index2">
  <!-- Carousel starts -->
  <div id="carousel-04" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag('cloth/m0.png')%>
      </div>
      <div class="item">
        <%= image_tag('cloth/m1.png')%>  
      </div>
      <div class="item">
        <%= image_tag('cloth/m2.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m3.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m4.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m5.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m6.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m7.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m8.png')%>
      </div>
      <div class="item">
          <%= image_tag('cloth/m9.png')%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-three">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Clothes
      </center>
    </h2>
  </div>
</article>