<article class="element fx-slide-up clearfix one-third home index index3">
  <!-- Carousel starts -->
  <div id="carousel-03" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('color/m0.png'), '/assets/color/0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('color/m1.png'), '/assets/color/1.png', {:class => "popup"})%>  
      </div>
      <div class="item">
        <%= link_to(image_tag('color/m2.png'), '/assets/color/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m3.png'), '/assets/color/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m4.png'), '/assets/color/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m5.png'), '/assets/color/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m6.png'), '/assets/color/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m7.png'), '/assets/color/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m8.png'), '/assets/color/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('color/m9.png'), '/assets/color/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-03" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-03" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-two">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Colors
      </center>
    </h2>
  </div>
</article>