<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-05" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
        <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('fig/figex1.png'), '/assets/fig/figex1.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('fig/figex0.png'), '/assets/fig/figex0.png', {:class => "popup"})%>  
      </div>
      <div class="item">
        <%= link_to(image_tag('fig/figex2.png'), '/assets/fig/figex2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex3.png'), '/assets/fig/figex3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex4.png'), '/assets/fig/figex4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex5.png'), '/assets/fig/figex5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex6.png'), '/assets/fig/figex6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex7.png'), '/assets/fig/figex7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex8.png'), '/assets/fig/figex8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex9.png'), '/assets/fig/figex9.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex10.png'), '/assets/fig/figex10.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex11.png'), '/assets/fig/figex11.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex12.png'), '/assets/fig/figex12.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('fig/figex13.png'), '/assets/fig/figex13.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-05" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-05" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-four">
    <h2 class="pad pad-top-minus mp20">
      <center>
       Figures
      </center>
    </h2>
  </div>
</article>