<article class="element fx-slide-out home clearfix one-third index index4">
  <!-- Carousel starts -->
  <div id="carousel-05" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <center><%= image_tag("#{@theme}/fig/0.png", width: '260')%></center>
      </div>
      <div class="item">
        <center><%= image_tag("#{@theme}/fig/1.png", width: '260')%></center>
      </div>
      <div class="item">
        <center><%= image_tag("#{@theme}/fig/2.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/3.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/4.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/5.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/6.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/7.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/8.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/9.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/879.png", width: '260')%></center>
      </div>
      <div class="item">
         <center><%= image_tag("#{@theme}/fig/675.png", width: '260')%></center>
      </div>
      <div class="item">
          <center><%= image_tag("#{@theme}/fig/557.png", width: '260')%></center>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-05" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-05" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-four">
    <h2 class="pad pad-top-minus mp20">
      <center>
       Figures
      </center>
    </h2>
  </div>
</article>