<article class="element fx-slide-up home clearfix one-third index index5">
  <div class="images">
    <%= image_tag("#{@theme}/index/main_1.png") %>
  </div>
  <div class="content-bottom content-bottom-alt reveal-bg-one">
    <div class="thumb pad pad-bottom-minus"></div>
    <h2 class="pad pad-top-minus pad-bottom-minus"  style="height:80px;"><%= "#{t 'elements.header'}"%></h2>
    <p class="pad pad-top-minus" style="height: 100px;overflow:hidden;"><%= "#{t 'elements.short'}"%></p>
    <div class="pad pad-top-minus">
      <%= link_to "#{t 'buttons.read_full'}", "#filter=.index%3Anot(.index5),+.post1", :class => "btn btn-reveal" %>
    </div>
  </div>
</article>

<article class="element  clearfix two-third post1">
  <div class="images"><%= image_tag("#{@theme}/index/index1.jpg") %>
  </div>
  <div class="content-bottom reveal-bg-one">
    <h2 class="pad pad-bottom-minus"><%= "#{t 'elements.header'}"%></h2>
    <p class="pad pad-top-minus pad-bottom-minus">
      <%= (t 'elements.full').html_safe %>
    </p>
   </div>
</article>