<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-06" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('pattern/m0.png'), '/assets/pattern/0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('pattern/m1.png'), '/assets/pattern/1.png', {:class => "popup"})%>  
      </div>
      <div class="item">
        <%= link_to(image_tag('pattern/m2.png'), '/assets/pattern/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m3.png'), '/assets/pattern/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m4.png'), '/assets/pattern/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m5.png'), '/assets/pattern/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m6.png'), '/assets/pattern/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m7.png'), '/assets/pattern/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m8.png'), '/assets/pattern/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('pattern/m9.png'), '/assets/pattern/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-06" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-06" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-eight">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Patterns
      </center>
    </h2>
  </div>
</article>