<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-04" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag("#{@theme}/decoder/pers/1.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/2.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/3.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/4.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/5.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/6.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/7.png")%>
      </div>
      <div class="item">
        <%= image_tag("#{@theme}/decoder/pers/8.png")%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-six">
    <h2 class="pad pad-top-minus mp20">
      <center>
       Characters
      </center>
    </h2>
  </div>
</article>