<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-04" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('decoder/characters/m1.png'), 'decoder/characters/1.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m2.png'), 'decoder/characters/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m3.png'), 'decoder/characters/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m4.png'), 'decoder/characters/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m5.png'), 'decoder/characters/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m6.png'), 'decoder/characters/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m7.png'), 'decoder/characters/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m8.png'), 'decoder/characters/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/characters/m9.png'), 'decoder/characters/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-six">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Characters
      </center>
    </h2>
  </div>
</article>