<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-03" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%=image_tag("#{@theme}/col_pat/00.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/11.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/22.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/33.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/44.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/55.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/66.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/77.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/88.png")%>
      </div>
      <div class="item">
        <%=image_tag("#{@theme}/col_pat/99.png")%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-03" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-03" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-four">
    <h2 class="pad pad-top-minus mp20">
      <center>
        <%= "#{t 'decoding.col_patterns'}"%>
      </center>
    </h2>
  </div>
</article>