<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-03" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%=image_tag('col_pat/0-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/1-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/2-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/3-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/4-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/5-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/6-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/7-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/8-1.png')%>
      </div>
      <div class="item">
        <%=image_tag('col_pat/9-1.png')%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-03" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-03" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-four">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Color patterns
      </center>
    </h2>
  </div>
</article>