<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-01" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('decoder/flag/flag_1.jpg'), 'decoder/flag/flag_1.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_2.jpg'), 'decoder/flag/flag_2.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_3.jpg'), 'decoder/flag/flag_3.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_4.jpg'), 'decoder/flag/flag_4.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_5.jpg'), 'decoder/flag/flag_5.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_6.jpg'), 'decoder/flag/flag_6.jpg', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/flag/flag_7.jpg'), 'decoder/flag/flag_7.jpg', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-01" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-01" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-two">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Flag
      </center>
    </h2>
  </div>
</article>