<article class="element fx-slide-out clearfix one-third home">
  <!-- Carousel starts -->
  <div id="carousel-02" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('sfig/figex0.png'), '/assets/sfig/figex0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('sfig/figex1.png'), '/assets/sfig/figex1.png', {:class => "popup"})%>  
      </div>
      <div class="item">
        <%= link_to(image_tag('sfig/figex2.png'), '/assets/sfig/figex2.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex3.png'), '/assets/sfig/figex3.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex4.png'), '/assets/sfig/figex4.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex5.png'), '/assets/sfig/figex5.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex6.png'), '/assets/sfig/figex6.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex7.png'), '/assets/sfig/figex7.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex8.png'), '/assets/sfig/figex8.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex9.png'), '/assets/sfig/figex9.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex10.png'), '/assets/sfig/figex10.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex11.png'), '/assets/sfig/figex11.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex12.png'), '/assets/sfig/figex12.png', {:class => "popup"})%>
      </div>
      <div class="item">
          <%= link_to(image_tag('sfig/figex13.png'), '/assets/sfig/figex13.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-02" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-02" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-three">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Figures
      </center>
    </h2>
  </div>
</article>