<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-09" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <a href="images/content/04.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/0.png'), '/assets/decoder/glassesc/0-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/1.png'), '/assets/decoder/glassesc/1-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/2.png'), '/assets/decoder/glassesc/2-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/3.png'), '/assets/decoder/glassesc/3-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/4.png'), '/assets/decoder/glassesc/4-1.png', {:class => "popup"})%>
        </a>
      </div>
            <div class="item">
        <a href="images/content/04.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/5.png'), '/assets/decoder/glassesc/5-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/6.png'), '/assets/decoder/glassesc/6-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/7.png'), '/assets/decoder/glassesc/7-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/8.png'), '/assets/decoder/glassesc/8-1.png', {:class => "popup"})%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= link_to(image_tag('decoder/glassesc/9.png'), '/assets/decoder/glassesc/9-1.png', {:class => "popup"})%>
        </a>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-09" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-09" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-six">
    <div class="thumb pad pad-bottom-minus">
      <%#= image_tag("slider.png")%>
    </div>
    <h2 class="pad pad-top-minus">
      <center>
        Sunglasses
      </center>
    </h2>
  </div>
</article>