<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-01" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <a href="images/content/04.jpg" title="" class="popup">
          <%= image_tag("content/04.jpg")%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/06.jpg" title="" class="popup">
          <%= image_tag("content/06.jpg")%>
        </a>
      </div>
      <div class="item">
        <a href="images/content/09.jpg" title="" class="popup">
          <%= image_tag("content/09.jpg")%>
        </a>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-01" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-01" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-six">
    <div class="thumb pad pad-bottom-minus">
      <%#= image_tag("slider.png")%>
    </div>
    <h2 class="pad pad-top-minus">
      <center>
        Sunglasses
        <br/>
        <br/>
      </center>
    </h2>
  </div>
</article>