<article class="element fx-slide-out clearfix one-third home overflow">
  <!-- Carousel starts -->
  <div id="carousel-09" class="carousel remove-bottom slide point-left">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= link_to(image_tag('decoder/glassesc/m0.png'), '/assets/decoder/glassesc/0.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m1.png'), '/assets/decoder/glassesc/1.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m2.png'), '/assets/decoder/glassesc/2.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m3.png'), '/assets/decoder/glassesc/3.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m4.png'), '/assets/decoder/glassesc/4.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m5.png'), '/assets/decoder/glassesc/5.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m6.png'), '/assets/decoder/glassesc/6.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m7.png'), '/assets/decoder/glassesc/7.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m8.png'), '/assets/decoder/glassesc/8.png', {:class => "popup"})%>
      </div>
      <div class="item">
        <%= link_to(image_tag('decoder/glassesc/m9.png'), '/assets/decoder/glassesc/9.png', {:class => "popup"})%>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel-09" data-slide="prev">
      <%= image_tag("left.png")%>
    </a>
    <a class="carousel-control right" href="#carousel-09" data-slide="next">
      <%= image_tag("right.png")%>
    </a>
  </div>
  <!-- Carousel ends -->

  <div class="inner-panel reveal-bg-six">
    <h2 class="pad pad-top-minus mp20">
      <center>
        Sunglasses
      </center>
    </h2>
  </div>
</article>