<header id="wrapper">
    <div id="options" class="clearfix visible-desktop">
        <div class="place-right">
            <%= link_to "RU", :controller => "page", :action => "set_ru" %>
            <%= link_to "EN", :controller => "page", :action => "set_en"%>
        </div>
        <ul id="filters" class="option-set clearfix" >
            <li><%= link_to "#{t 'menu.logophone'}", page_index_path, :class => "reveal-bg-one selected" %></li>
            <li><%= link_to "#{t 'menu.elem'}", page_elements_path, :class =>"reveal-bg-two" %></li>
            <li><%= link_to "#{t 'menu.decode'}", page_decoder_path, :class =>"reveal-bg-three", :style => "width: 145px;" %></li>
            <li><%= link_to "#{t 'menu.create'}", creator_new_path, :class =>"reveal-bg-seven", :style => "width: 163px;" %></li>
            <li><%= link_to "#{t 'menu.down'}", page_download_path, :class =>"reveal-bg-four" %></li>
            <% if user_signed_in? %>
                <li><%= link_to "#{t 'menu.cabinet'}", cabinet_index_path, :class =>"reveal-bg-six" %></li>
            <% else %>
                <li><%= link_to "#{t 'menu.reg'}", new_user_registration_path, :class =>"reveal-bg-six" %></li>
                <li><%= link_to "#{t 'menu.login'}", new_user_session_path, :class =>"reveal-bg-five" %></li>
            <% end %>
            <li><%= link_to "#{t 'menu.contacts'}", page_contacts_path, :class =>"reveal-bg-eight" %></li>
            <% if @theme.present? && @theme == "dark" %>
                <br>
                <li><%= link_to "#{t 'menu.light'}", page_set_light_path, :style=>"background-color:#fff !important;color:#000;"%></li>
            <%  else %>
                <br>
                <li><%= link_to "#{t 'menu.dark'}", page_set_dark_path, :style=>"background-color:#000 !important;"%></li>
            <%  end %>
        </ul>
    </div>
</header>