<article class="element fx-slide-out clearfix one-full home overflow index">
  <div id="carousel-04" class="carousel remove-bottom slide point-left">
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag("slider/1.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/2.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/3.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/4.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/5.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/6.png") %>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png") %>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png") %>
    </a>
  </div>
</article>