<article class="element fx-slide-out clearfix one-full home overflow index">
  <div id="carousel-01" class="carousel remove-bottom slide point-left">
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag("slider/#{@lang}/1.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/#{@lang}/2.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/#{@lang}/3.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/#{@lang}/4.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/#{@lang}/5.png") %>
      </div>
      <div class="item">
        <%= image_tag("slider/#{@lang}/6.png") %>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel-04" data-slide="prev">
      <%= image_tag("left.png") %>
    </a>
    <a class="carousel-control right" href="#carousel-04" data-slide="next">
      <%= image_tag("right.png") %>
    </a>
  </div>
</article>