<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus">Your logo</h2></center>
  </div>
</article>
<article class="element clearfix home pp">
		<%= form_tag( creator_show_path, :method => "get", :style =>"margin:15px 20px;") do %>
			<center>
				<%= submit_tag("Create!", :class => "msubmit", :style =>"bottom:0px !important;") %><br/>
				<%= @pn %>
			</center>
		<% end %>
	<div class="mcenter">
		<div class="layersw">
			<div class="layers">
				<% layer = 1 %>
				<% @ar.each do |a| %>
						<%= image_tag a, :class => "m1m1 imgl"+layer.to_s, :alt => ""  %>
					<% layer += 1 %>
				<% end %>
			</div>
			<%if user_signed_in? %>
				<div class="saveasblock reveal-bg-two">
					<%= form_for( @logo, :url => {:action => 'create'} ) do |f| %>
						<div style="width:60%; float: left;">
		          <%= f.text_field :phone, :value => params[:phone], :readonly => true%>
							<%= f.text_field :first_name, :placeholder=>"First name"  %>
							<%= f.text_field :last_name, :placeholder=>"Last name"%>
						</div>
						<div style="width:40%; float: right; padding-top: 20px;">
							<%= submit_tag("Save logo", :class => "mbutton") %>
						</div>
					<% end %>
				</div>
			<% else %>
				<center><h3><u><%= link_to "Login", new_user_session_path%></u> to save the logo</h3></center>
			<% end %>
		</div>
	</div>
</article>
