<article class="element clearfix home">
  	<div class="row"><div class="span4 offset4"><h1>Creator</h1></div></div>
	<div class="row">
		<div class="span2 offset4">
			<a href="#"><img src="/assets/left.png" alt="proxim" title="proxim"></a>
			<a href="#"><img src="/assets/right.png" alt="proxim" title="proxim"></a>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset3">
			<%= image_tag  "#{@logo['character']}", :class => "myimage", :size => "280x90", :alt =>""  %>
			<%= image_tag  "#{@logo['five_pair']}", :class => "myimage", :size => "280x90", :alt =>""  %>
			<%= image_tag  "#{@logo['fourth_pair']}", :class => "myimage", :size => "280x90", :alt =>""  %>
			<%= image_tag  "#{@logo['third_pair']}", :class => "myimage", :size => "280x90", :alt =>""  %>
			<%= image_tag  "#{@logo['glasses']}", :class => "myimage", :size => "280x90", :alt =>""  %>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset4">
			<a href="#"><img src="/assets/left.png" alt="proxim" title="proxim"></a>
			<a href="#"><img src="/assets/right.png" alt="proxim" title="proxim"></a>
		</div>
	</div>
</article>
