<section class="container">
  <section id="container" class="clearfix">
		<article class="element fx-slide-up home clearfix one-full about isotope-item">
		  <div class="reveal-bg-nine">
		    <center><h2 class="pad pad-top-minus pad-bottom-minus">Your logo</h2></center>
		  </div>
		</article>
		<article class="element clearfix home pp">
			<div class="mcenter">
				<div class="layersw">
					<div class="layers">
						<% @ar.each do |a| %>
							<%= image_tag a, :class => "myimage", :width => "400", :alt => ""  %>
						<% end %>
					</div>
						<%if user_signed_in? %>
							<div class="saveasblock reveal-bg-seven">
								<%= form_for( @logo, :url => {:action => 'create'} ) do |f| %>  
									<div style="width:70%; float: left;">   
				                  	<%= f.text_field :phone, :value => params[:phone], :readonly => true%>
									<%= f.text_field :first_name, :placeholder=>"First name"  %>
									<%= f.text_field :last_name, :placeholder=>"Last name"%>
									</div>
									<div style="width:30%; float: right; padding-top: 20px;">   
										<%= submit_tag("Save logo", :class => "mbutton") %>
									</div>
								<% end %>
							</div>
						<% end %>
				</div>
			</div>
		</article>
<!-- 					<div class="saveasblock reveal-bg-seven">
							<%= form_for( @logo, :url => {:action => 'create'} ) do |f| %>
								<%= f.text_field :phone, :value => params[:phone],  :class => "minput", :readonly => true%>
								<%= f.text_field :first_name, :class => "minput" %>
								<%= f.text_field :last_name,:class => "minput" %>
								<%= submit_tag("Create!", :class => "msubmit") %>
							<% end %>
					</div> -->

			

	</section>
</section>

