<%= form_tag cabinet_intro_show_path(:quantity => @quantity), :method => :get, :remote => true do %>
	<%= text_field_tag :phone, @number[1], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[2], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[3], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[4], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[5], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[6], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[7], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[8], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[9], :class => "minput_small", :maxlength => 1, :readonly => true %>
	<%= text_field_tag :phone, @number[10], :class => "minput_small", :maxlength=> 1, :readonly => true %>
	<%= submit_tag "Next", :name => nil, :class => "msubmit", :style =>"top: 3px;" %>
<% end %>
<div class="cls"></div>
<div class="mcenter">
	<div class="layersw">
		<div class="layers">
			<% layer = 1 %>
			<% @logo.each do |a| %>
				<%= image_tag a, :class => "m1m1 imgl"+layer.to_s, :alt => ""  %>
				<% layer += 1 %>
			<% end %>
		</div>
	</div>
</div>