<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus"><%= t 'intro.title' %></h2></center>
  </div>
</article>
<article class="element clearfix home pp one-full">
	    <% if @theme.present? && @theme == "dark" %>
        	<h4 class="introtext lt"><%= t 'intro.header' %></h4>
		<h3 class="lt" style="float:left; padding:0px 20px 0px 190px;"><%= t 'intro.phrase' %></h3>
        <% else %>
			<h4 class="introtext"><%= t 'intro.header' %></h4>
		<h3 style="float:left; padding:0px 20px 0px 190px;"><%= t 'intro.phrase' %></h3>
		<% end %>
		<%= form_tag( cabinet_intro_show_path, :method => "get", :style =>"padding:18px 20px;") do %>
			<%= select_tag "quantity", options_for_select((1..10).step(1)) %>
			<%= submit_tag("#{t 'buttons.create'}", :class => "msubmit") %>
		<% end %>
</article>
