<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus"><%= t 'table.title' %></h2></center>
  </div>
</article>
<article class="element clearfix home pp one-full">
	<% if @theme.present? && @theme == "dark" %>
	    <h4 class="introtext lt"><%= t 'table.phrase' %></h4>
		<table class="table table-hover" style="color:#3498DB;">
	<% else %>
	    <h4 class="introtext"><%= t 'table.phrase' %></h4>
		<table class="table table-hover">
	<% end %>
		<thead>
		   <tr class="reveal-bg-four" style="color:#fff;font-size: 12pt;">
				<%= (t 'table.thead').html_safe %>
			</tr>
		</thead>
		<tbody>
		<tr>
			<%= (t 'table.tr1').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr2').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr3').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr4').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr5').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr6').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr7').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr8').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr9').html_safe %>
		</tr>
		<tr>
			<%= (t 'table.tr10').html_safe %>
		</tr>
		</tbody>
	</table>
</article>

