<section class="container" style="background: #0A0A0A !important;">
	<section id="container" class="clearfix">
		<%= render 'shared/main_sliderb' %>
		<%= render 'shared/main_welcometext' %>
		<%= render 'shared/slider1b' %>
		<%= render 'shared/slider2b' %>
		<%= render 'shared/slider3b' %>
		<%= render 'shared/slider4b' %>
	</section>
</section>