
<section class="container" style="background: #fff !important;">
	<section id="container" class="clearfix">
		<%= render 'shared/main_sliderb' %>
		<%= render 'shared/main_welcometext' %>
		<%= render 'shared/slider1b' %>
		<%= render 'shared/slider2b' %>
		<%= render 'shared/slider3b' %>
		<%= render 'shared/slider4b' %>
	</section>
</section>
  <script>
    	var htmlEl = document.getElementsByTagName("html")[0];
    	htmlEl.style.background = "#000";


  </script>