<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus"><%= "#{t 'contacts.title'}"%></h2></center>
  </div>
</article>
<article class="element fx-slide-up clearfix one-third home contact">
  <div class="images">
    <%= image_tag ("#{@theme}/contacts/cont_1.png") %>
  </div>
</article>
<article class="element clearfix one-third home">
  <div class="one-third white-right2 reveal-bg-one">
    <div class="thumb pad pad-bottom-minus">
      <%= image_tag ("mail.png") %>
    </div>
    <h2 class="pad pad-top-minus pad-bottom-minus"><%= "#{t 'contacts.send'}"%></h2>
    <div class="pad pad-top-minus">
      <%= form_tag( page_feedback_path, :method => "get") do %>
        <div class="row-fluid">
          <article>
            <div id="fname" class="alert alert-error error">
            Name must not be empty
            </div>
            <div id="fmail" class="alert alert-error error">
            Please provide a valid email
            </div>
            <div id="fmsg" class="alert alert-error error">
            Message should not be empty
            </div>
            <%= text_field_tag :uname, params[:uname], :size=>"30", :placeholder=>"#{t 'contacts.name'}"%>
            <%= text_field_tag :email, params[:email], :size=>"30", :placeholder=>"Email"%>
            <%= text_area_tag :msg, params[:msg], :size=>"3x40", :placeholder=>"#{t 'contacts.msg'}", :style => "height:100px;"%>
            <%= button_tag("#{t 'contacts.msg_button'}", :class => "btn btn-reveal add-top-half", :style => "width: 240px;padding: 2px 10px;margin: 0 !important;") %>
          </article>
        </div>
  <% end %>
    </div>
  </div>
</article>
<article class="element fx-slide-up clearfix one-third home contact">
  <div class="images">
    <%= image_tag ("#{@theme}/contacts/cont_2.png") %>
  </div>
</article>
