<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus"><%= "#{t 'decoding.title'}"%></h2></center>
  </div>
</article>
<%= render 'decoder/background' %>
<%= render 'decoder/flag' %>
<%= render 'decoder/mfigure' %>
<%= render 'decoder/character' %>
<%= render 'decoder/characters' %>
<%= render 'decoder/colfigure' %>
<%= render 'decoder/sunglasses3' %>
<%= render 'decoder/sunglasses2' %>
<%= render 'decoder/sunglasses1' %>

