<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus"><%= "#{t 'download.title'}"%></h2></center>
  </div>
</article>
<article class="element clearfix one-third home isotope-item">
  <div class="one-third white-right2 reveal-bg-one">
    <br>
    <center><h2 class="pad pad-top-minus pad-bottom-minus">Android</h2>
    <br>
    <br>
    <br>
    <%= image_tag "download/gplay.png", :class => "downloadimg" %>
    <h3><%= link_to "Download", page_download_android_path, :class => "btn btn-reveal add-top-half" %></h3>
    </center>
</article>
<article class="element clearfix one-third home isotope-item">
  <div class="one-third white-right2 reveal-bg-two">
    <br>
    <center>
      <h2 class="pad pad-top-minus pad-bottom-minus">iPhone</h2>
        <br>
        <br>
        <br>
        <%= image_tag ("download/appstore.png"), :class => "downloadimg" %>
        <h3><%= "#{t 'download.coming'}"%></h3>
  		<!-- <div class="pad pad-top-minus">
  			<a class="btn btn-reveal add-top-half">Download</a>
      </div> -->
    </center>
</article>
<article class="element clearfix one-third home isotope-item">
  <div class="one-third white-right2 reveal-bg-three">
  	<br>
    <center>
      <h2 class="pad pad-top-minus pad-bottom-minus">Windows</h2>
       <br>
       <br>
       <br>
      <%= image_tag ("download/windows.png"), :class => "downloadimg"%>
      <h3><%= "#{t 'download.coming'}"%></h3>
    </center>
</article>


