<header id="wrapper">
    <div id="options" class="clearfix visible-desktop">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><%= link_to "Logophone", page_index_path, :class => "reveal-bg-one selected" %></li>
            <li><%= link_to "My contacts", cabinet_index_path, :style =>"background-color:#21C4F0;" %></li>
            <li><%= link_to "Create My Logo", creator_new_path, :class =>"reveal-bg-seven", :style => "width: 150px;" %></li>
            <li><%= link_to "Information", cabinet_info_path, :class =>"reveal-bg-two" %></li>
            <li><%= link_to "Table", cabinet_table_path, :class =>"reveal-bg-nine" %></li>
            <li><%= link_to "Introduction", cabinet_intro_path, :class =>"reveal-bg-four"%></li>
            <li><%= link_to "Training", cabinet_training_path, :class =>"reveal-bg-six" %></li>
            <li><%= link_to "Test", cabinet_test_path, :class =>"reveal-bg-five" %></li>
            <li><%= link_to "Contact us", page_contacts_path, :class =>"reveal-bg-eight" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete, :class =>"reveal-bg-three" %></li>
        </ul>
    </div>
</header>