<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus">Saved contacts</h2></center>
  </div>
</article>
<% i = 0 %>
<% @logos.each do |logo| %>
  <article class="element fx-slide-out clearfix one-third home overflow" style="height:450px;">
    <!-- <a href="images/content/01.jpg" title="" class="popup"> -->
    <div class="images">
        <div class="layers">
          <% pers = 0 %>
          <% logo.logo_files.split(',').each do |file| %>
            <% if file =~ /1\w{7}\.png/%>
              <% pers = 1 %>
            <% end %>
            <%if file =~ /5\w{7}\.png/%>
              <% pers = 5 %>
            <% end %>
          <% end %>
          
          <% case pers %>
          <% when 1%>
            <% width = 225 %>
          <% when 5%>
            <% width = 270 %>
          <% else %>
            <% width = 300 %>
          <% end %>
          
          <% logo.logo_files.split(',').each do |file| %>
              <%= image_tag file, :width => width %>
          <% end %>
        </div>
    </div>
    <div class="inner-panel reveal-bg-<%= @colors[i] %>">
      <div class="thumb pad pad-bottom-minus" style="padding:0;"></div>
      <center>
        <% if logo.first_name != "" && logo.first_name != ""%>
          <h2 class="pad pad-top-minus mh2"><%= logo.first_name %> <%= logo.last_name %></h2>
          <h5 class="mp0"><%=logo.phone %></h5>
        <% else  %>
          <h2 class="pad pad-top-minus mh2"><%=logo.phone %></h2><h5 class="mp0">&nbsp</h5>
        <% end %>
      </h2></center>
    </div>
    </a>
  </article>
  <% i += 1 %>
  <% i = 1 if i > 8 %>
<% end %>