<!DOCTYPE html>
<html>
<head>
  <title>Logophone</title>
  <%= include_gon %>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application.css" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.css" %>
  <%= stylesheet_link_tag    "bootstrap_and_overrides.css" %>
  <%= stylesheet_link_tag    "extension.css" %>
  <%= stylesheet_link_tag    "jquery.fancybox.css" %>
  <%= stylesheet_link_tag    "metro-bootstrap.css" %>
  <%= stylesheet_link_tag    "styles.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/jquery.ba-bbq.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <% if user_signed_in? %>
    <div id="user_nav">
        <div class="text">Signed in as <%= current_user.email %> | <%= link_to "Log out", destroy_user_session_path, :method => :delete %></div>
    </div>
  <% end %>
  <% flash.each do |name, msg| %>
    <div class="alert-<%=name%>" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <center>
        <br/>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <br/>
      </center>
    </div>
  <% end %>
  <%= render 'shared/header' %>
  <section class="container">
    <section id="container" class="clearfix">
      <%= yield %>
    </section>
  </section>
  <%= render 'shared/footer' %>
  <script>
    var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
      animate: true, // Boolean: Use CSS3 transitions, true or false
      transition: 400, // Integer: Speed of the transition, in milliseconds
      label: "Menu", // String: Label for the navigation toggle
      insert: "after", // String: Insert the toggle before or after the navigation
      customToggle: "", // Selector: Specify the ID of a custom toggle
      openPos: "relative", // String: Position of the opened nav, relative or static
      jsClass: "js", // String: 'JS enabled' class which is added to <html> el
      init: function(){}, // Function: Init callback
      open: function(){}, // Function: Open callback
      close: function(){} // Function: Close callback
    });
  </script>
</body>
</html>
