<!DOCTYPE html>
  <% if @theme.present? && @theme == "dark" %>
    <html style="background-color:#000;">
  <% else %>
    <html style="background: #fefefe url('/assets/bg.png') repeat;">
  <% end %>
<head>
  <title>Logophone</title>
  <%= include_gon %>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application.css" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.css" %>
  <%= stylesheet_link_tag    "bootstrap_and_overrides.css" %>
  <%= stylesheet_link_tag    "extension.css" %>
  <%= stylesheet_link_tag    "jquery.fancybox.css" %>
  <%= stylesheet_link_tag    "metro-bootstrap.css" %>
  <%= stylesheet_link_tag    "styles.css" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47330413-1', 'logophone.org');
    ga('send', 'pageview');

  </script>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/jquery.ba-bbq.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <% if user_signed_in? %>
    <div id="user_nav">
        <div class="text">Signed in as <%= current_user.email %> | <%= link_to "Log out", destroy_user_session_path, :method => :delete %></div>
    </div>
  <% end %>
  <% flash.each do |name, msg| %>
    <div class="alert-<%=name%>" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <center>
        <br/>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <br/>
      </center>
    </div>
  <% end %>
  <% if @theme.present? && @theme == "dark" %>
    <section class="container" style="background-color:#272728;">
  <% else %>
    <section class="container">
  <% end %>
    <section id="container" class="clearfix">
    <%= render 'shared_cabinet/cabinet' %>
    <%= yield %>
    </section>
  </section>
  <%= render 'shared/footer' %>

  <script>
    var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
      animate: true, // Boolean: Use CSS3 transitions, true or false
      transition: 400, // Integer: Speed of the transition, in milliseconds
      label: "Menu", // String: Label for the navigation toggle
      insert: "after", // String: Insert the toggle before or after the navigation
      customToggle: "", // Selector: Specify the ID of a custom toggle
      openPos: "relative", // String: Position of the opened nav, relative or static
      jsClass: "js", // String: 'JS enabled' class which is added to <html> el
      init: function(){}, // Function: Init callback
      open: function(){}, // Function: Open callback
      close: function(){} // Function: Close callback
    });

  </script>
</body>
</html>
